body {
	height: 600px;
  	background-color: rgb(171, 72, 190); /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, rgb(66, 36, 89), rgb(19, 10, 37));
}

h1 {
    font-size: 60px;
    font-weight: bold;
    background-image: linear-gradient(40deg, #5db1ff, #c0499c, rgb(66, 79, 197)); /* Example gradient */
    background-clip: text;
    -webkit-background-clip: text; /* For older browser compatibility */
    color: transparent;
    -webkit-text-fill-color: transparent; 
	text-align: center;
}

h3 {
	font-size: 20px;
	text-align: center;
	color: white;
	padding-bottom: 5%;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: white;
}

p {
	text-align: center;
	padding: 1%;
}